.btn-bikez-company{
    background-color: #E76F51 !important;
    color: #fff !important;
}
.bg-bikez-company{
    background-color: #264653 !important;
    
}
.star-bikez-company{
    color: #E77C40 !important;
}
.link{
    color: #fff !important;
    text-decoration: none !important;
}